.circle__titles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 120px;
    z-index: 0;
}

.hero__title-date__blue{
    transition: all 0.65s ease;
}
.hero__title-date__purple{
    transition: 0.65s ease;
}


// .titles{
//     gap: 20px;
//     display: flex;
//     align-items: center;
// }

@media(max-width:632px) {
    .circle__titles{
        gap: 20px;
        justify-content: space-between;
        position: unset;
        transform: translate(0, 0);
        margin-bottom: 40px;
    }
}